<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit:wght@100&family=Roboto:wght@100&family=Shalimar&family=Yuji+Boku&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login">
        <h2>Login</h2>
      <div class="email-container">
        <label for="email">Email</label>
        <input type="email" name="email" />
      </div>
      <div class="password-container">
        <label for="password">Password</label>
        <input type="password" name="password" />
      </div>
      <div class="forgotP-container">
        <div class="remember">
          <input type="checkbox" name="remember-me" />
          <label for="remember-me">Remember Me</label>
        </div>
        <a href="#">Forgot Your Password ?</a>
      </div>
      <button class="btn-login">Login</button>
      <div class="create-new">
        <p>Create new Account</p>
        <span class="material-icons"> arrow_forward_ios </span>
      </div>
    </div>
  </body>
</html>
