<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit:wght@100&family=Roboto:wght@100&family=Shalimar&family=Yuji+Boku&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <footer>
      <ul class="footer-list">
        <li class="bold">SHOP</li>
        <li>About us</li>
        <li>Gift Cards</li>
        <li>Contact us</li>
      </ul>
      <ul class="footer-list">
        <li class="bold">HELP AND ADVICE</li>
        <li>Shipping and Returns</li>
        <li>Cookie policy</li>
        <li>Size Guide</li>
      </ul>
      <ul class="footer-list">
        <li class="bold">CONTACT</li>
        <li>UFCStore@ufc.com</li>
        <li>Gift Cards</li>
        <li class="footer-icons">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter"></i>
        </li>
      </ul>
    </footer>
    <script
      src="https://kit.fontawesome.com/1003df6d85.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
