<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preview</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit:wght@100&family=Roboto:wght@100&family=Shalimar&family=Yuji+Boku&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="preview">
      <div class="preview-img">
        <img src="../../images/product-img1.jpg" alt="loading..." />
      </div>
      <div class="preview-description">
        <h1 class="Preview-header">
          UFC VENUM MAGOMED FIGHT NIGHT MEN'S WALKOUT JERSEY
        </h1>
        <h2>&#8377; 2000</h2>
        <div class="description">
          <h2>Description</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
            vitae officiis in distinctio! Magni obcaecati cum suscipit totam
            labore quibusdam voluptas. Expedita, praesentium eligendi? Nisi odio
            quo mollitia similique ex. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Tenetur quod et qui tempore ipsum. Repellat
            corrupti eum architecto quae cumque quos temporibus! Laborum
            quisquam, cupiditate sapiente necessitatibus debitis doloremque
            veritatis?
          </p>
        </div>
        <button>ADD TO CART</button>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/1003df6d85.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
